.question-box{
    background-color:#0c2625;
    display: flex;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px black;
    color: #fff;

    
}
.question{
    margin-top:20px ;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}
.answers{
    width: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.answer-item{
    /* margin-top: 50px; */
    text-decoration: none;
    color: #fff;
}
.answer-container{
    border: 7px solid #133331;
    border-radius: 20px;
    background-color:#0c2625;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 33px;

}
.scored{
    background-color:#0c2625;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px black;
    color: #fff;

}
